<h1>to-do list</h1>


    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="create task">
    </form>


    {% for do in dos %}
        <div>

            {% if do.completed == True %}
                <strike>{{do}}</strike>
            {% else %}
                <span>{{do}}</span>
            {% endif %}
            <a href="{% url 'edit' do.id %}">edit</a>
            <a href="{% url 'delete' do.id %}">delete</a>

        </div>
    {% endfor %}